# Frontend Environment Variables

# The base URL where the backend FastAPI server is running
# By default, Vite proxies aren't setup, so you can point directly here if testing locally.
VITE_API_BASE="http://localhost:8000"
